<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/master.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Actor" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Registro de Visitantes</title>
</head>

<body id="body-bg" >
  <header>
    <section id="arrow-sig" class= "">
      <button type="button" class=" col-md-1 offset-10 btn btn-warning btn-circle btn-lg rounded-circle" id="arrow-right"><i class="material-icons font-icon">arrow_forward</i>
      </button>
    </section>
    </header>
  <section class="container">
    <section id="frm-register" class="frm-visits">
      <form role="form" data-toggle="validator">
        <section id="data-general">
          <section class="form-group has-feedback">
          <input type="text" class="form-control" id="name-visit" aria-describedby="inputGroup-sizing-lg" placeholder="Nombre / Name" pattern ="^[_A-z,0-9]{1,0}$" data-error="Escribe tu nombre" required>

          </section>

          <section class="form-group">
          <input type="text" class="form-control" id="lastname-visit" aria-describedby="inputGroup-sizing-lg" placeholder="Apellido / Last name" required>
          </section>
        </section>
        <section id="picture" class="col-md-11 offset-1 ">
          <video id="player" autoplay  class="rounded-circle">
          </video>
          <section id="shot">
          </section>

          <button type="button" id="capture" class="btn btn-success btn-lg col-md-4 offset-4 margin-btn">Foto</button>
          <button type="button" id="recapture" class="btn btn-success btn-lg col-md-4 offset-4 margin-btn">Volver a Tomar Foto</button>
        </section>
        <section id="register">
          <div class="form-group">
            <!-- search por company -->
            <div class="form-group">
              <label for="exampleSelect1">Empresas </label>
              <select class="form-control" id="select-empresas">
                <option>Selecciona Empresa</option>
                <!-- <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option> -->
              </select>
            </div>
            <!-- search de empleado -->
            <label for="exampleInputEmail1">Buscar Empleado</label>
            <input type="text" class="form-control" id="empleado" aria-describedby="emailHelp" placeholder="A quien visitas...">
            <ul class="list-group" id="templete-empleados">
              <!-- aqui va el templete empleados-->
            </ul>
            <input type="text" class="form-control" id="company">
            <!-- boton de notificar -->
            <button type="button" class="btn btn-warning btn-lg col-md-4 offset-4" id="notification">Notificar</button>
          </div>
          <!-- <section class="form-group">
          <label for="usr">A quien visitas:</label>
          <input type="text" class="form-control" id="company">
          <button type="button"  class="btn btn-warning btn-lg col-md-4 offset-4" id="notification">Notificar</button>
        </section> -->
        </section>
      </form>
    </section>
  </section>
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>


  <!-- BOOSTRAP JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js">
       </script>
       <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript">
       </script>
    <script type="text/javascript" src="../js/database.js"></script>
    <script type="text/javascript" src="../js/register.js"></script>
      <script type="text/javascript" src="../js/email.js"></script>
</body>

</html>
